body {
  margin: 0;
  padding: 0;
}

/* Form Styles */

.intro {
  font-size: 2em;
  text-align: center;
}

form {
  font-size: 3em;
}

.info {
  margin: 1em auto;
}

.player {
  display: block;
  margin-bottom: 15px;
}

input[type="text"] {
  padding: 1em 2em;
  font-size: 18px;
  position: relative;
  bottom: 0.5em;
}

[for$="marker"] {
  margin-left: 1em;
}

[type="button"] {
  width: 50%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: rgb(22, 220, 167);
  font-size: 0.75em;
  cursor: pointer;
}

[type="button"]:hover {
  color: white;
}

/* Main Styles */

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gameboard {
  font-size: 3em;
  width: 50%;
  height: 50%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, minmax(auto, 1fr));
}

.gameboard-row {
  display: grid;
  grid-template-columns: repeat(3, minmax(auto, 1fr));
}

.file {
  border: 3px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

#position-1,
#position-2,
#position-3 {
  border-top: none;
}

#position-3,
#position-6,
#position-9 {
  border-right: none;
}

#position-7,
#position-8,
#position-9 {
  border-bottom: none;
}

#position-1,
#position-4,
#position-7 {
  border-left: none;
}

#position-1:hover,
#position-2:hover,
#position-3:hover,
#position-4:hover,
#position-5:hover,
#position-6:hover,
#position-7:hover,
#position-8:hover,
#position-9:hover {
  background-color: cadetblue;
}

#commentary {
  margin-top: 2em;
  font-size: 3em;
}

/* Initial State */

/* .hide */
.gameboard,
#commentary {
  display: none;
}
